
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="wrap-texto col-sm-12 col-md-4 col-lg-4">
                <h2> Desarrollo Web en Comuna</h2>
                <p>
                    S&amp;G ofrece desarrollo web para Comuna 1, CABA. Esta empresa cuenta con un equipo de profesionales que ofrecen soluciones a la medida para empresas y negocios. Si buscas un diseño moderno y de primera calidad, S&amp;G es tu mejor opción.
                </p>
                <a href="#"><button>Contact</button></a>
            </div>
        </div>
    </div>
    
</div>
