
<section>
    <div class="wrap">
        <div id="cabecera">
        </div>
    <div id="central" class="box box-container">
            <div class="columna" id="uno"></div>
            
            <div id="dos" class="wrap-texto columna" >
                <h2> Desarrollo Web</h2>
                <p>
                    S&amp;G ofrece desarrollo web para Comuna 1, CABA. Esta empresa cuenta con un equipo de profesionales, <br> que ofrecen soluciones a la medida para empresas y negocios. Si buscas un diseño moderno y de primera calidad,<br> S&amp;G es tu mejor opción.
                </p>
                <a><button (click)="Contacto()">Contact</button></a>
            </div>
            <div class="columna" id="tres"></div>
    </div>
    <div id="pie"></div>
</div>
</section>
