
<!-- Contacto -->
<section id="container-contacto">
    <!-- <i class="bi bi-pencil"></i> -->
    <div class="contenedor-form">
      <form action="https://formsubmit.co/saghatelyandsm@gmail.com" method="POST" class="form">
        <div class="form-header">
          <h2 class="form-title"><span>C</span>ontacto</h2>
        </div>
        <label for="nombre" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-input"
          id="nombre"
          placeholder="Escriba su nombre"
          name="name"
        />

        <label for="email" class="form-label">Correo</label>
        <input
          type="email"
          class="form-input"
          id="email"
          placeholder="Escriba su mail"
          name="email"
        />

        <label for="asunto" class="form-label">Asunto</label>
        <input
          type="text"
          class="form-input"
          name="subjet"
          id="asunto"
          placeholder="Escriba el asunto"
        />

        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea
          name="messaje"
          id="mensaje"
          class="form-textarea"
          placeholder="Escriba su mensaje"
          name="comments"
        ></textarea>

        <input type="submit" class="btn-submit" value="Enviar Consulta" />
      </form>
    </div>
  </section>