<section>
    <div id="cabecera">
    </div>
    <div class="container" id="central">
        <div class="columna" id="uno"></div>
        <div class="columna" id="dos">
            <h3 class="text-center">
                SG se dedica a desarrollar páginas web. Considera todas las necesidades 
                y brinda una comunicación fluida. Nos gustaría darles nuestro mas sincero agradecimiento. 
            </h3>
            <p class="text-center">  
                - Desarrolladores, CABA.
            </p> 
        </div>
        <div class="columna" id="tres"></div>
    </div>
    <div id="pie"></div>
</section>