section
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1c1e;
    height: 40vh;

}

p 
{
    font-family: "Times New Roman", Times, serif;
    color:#fff;
    font-size: 1.9em;
    letter-spacing: 1px;
    line-height : 30px;
}

.container
{
    text-justify: center;
    text-align: center;
    align-items: center;
    width: 80vh;
}

h3 
{
    color:#fff;
    font-size: 2.6em;
    letter-spacing: 2px;
    line-height : 40px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
        overflow: auto;

}