section
{
    display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(34, 34, 34);
  }


.div
{
    text-align: center;
}

p 
{
    color:#fff;
}

h3 
{
    color:#fff;
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    //background: url('../../../assets/abc.png');
    -webkit-background-clip: text;
    background-clip: text;
    animation: text 7.5s linear infinite;
}

@keyframes text 
{
    from { background-position: 0% 50%; }
    to { background-position: 100% 100%; }
}