<section class="flex-shrink-0" style="background-color: rgb(34, 34, 34);">
    <div class="container mx-auto pt-12 lg:pt-14 xl:pt-20 testimonials-carousel pb-12 lg:pb-14 xl:pb-20">
        <div class="flex h-full my-auto">
            <div class="max-w-5xl flex flex-col gap-4 justify-center text-center mx-auto items-center">
                <h3 class="text-xl lg:text-2xl xl:text-h3 !font-medium" style="color: rgb(255, 255, 255); font-family: Merriweather, serif; font-weight: 400;">
                    S&amp;G me ayudó a desarrollar una página web excelente para mi negocio. Todas mis necesidades fueron consideradas 
                    y la comunicación fue fluido. Me gustaría darles mi mas sincero agradecimiento. 
                </h3>
                <p class="text-sm lg:text-body xl:text-2xl" style="color: rgb(255, 255, 255);">
                    - Pedro, Comuna 1, CABA.
                </p>
            </div>
        </div>
    </div>
</section>