.container{
  background-color: #333333;
  height: 75vh;
  max-width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

img{
  padding: 20px;
  width: 96vh;
  height: 65vh;
  border-radius:5%;

} 
