img 
{
    
    max-width: 1000px;
    max-height: 800px;
    padding: 5%;
    border-radius: 10px;

}


section
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
  }