.container{
  background-color: #333333;
  height: 75vh;
  max-width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

img{
  position: relative;
  width: 80vh;
  height: 56vh;
  border-radius:5%;

} 