section
{
    display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(34, 34, 34);
  }

#logo {
    display:flex;
    justify-items: center;
    align-items: center;
}

img {
    width: auto; 
    max-height: 70%;
    border-radius: 80%;
   }