<!-- Experiencia -->
<section id="experiencia" class="experiencia">
  <div class="texto">
    <h2 class="texto-blanco centrado texto1">Mis proyectos</h2>
    <h3 class="texto-blanco centrado texto2">
      SG se dedica a desarrollar páginas web. Considera todas las necesidades y
      brinda una comunicación fluida. Nos gustaría darles nuestro mas sincero
      agradecimiento.
    </h3>
  </div>

  <div class="container text-center">
    <div class="row">
      <!-- Desarrollo Web -->
      <div class="caja columna col-12 col-md-6 col-lg-4">
        <i class="bi bi-laptop"></i>
        <p class="experiencia-titulo">Desarrollo Web</p>
        <p>Loreperiam, minus totamfdsdddddddddddddd</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">HTML</span>
          <span class="badge text-bg-primary">CSS</span>
          <span class="badge text-bg-primary">JavaScript</span>
          <span class="badge text-bg-primary">React</span>
        </div>
      </div>
      <!-- Articulos -->
      <div class="caja columna col-12 col-md-6 col-lg-4">
        <i class="bi bi-laptop"></i>
        <p class="experiencia-titulo">Desarrollo Web</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          dolore odit alias quod omnis? Aperiam, minus totam
        </p>

        <div class="badges-contenedor">
          <span class="badge text-bg-primary">HTML</span>
          <span class="badge text-bg-primary">CSS</span>
          <span class="badge text-bg-primary">JavaScript</span>
          <span class="badge text-bg-primary">React</span>
        </div>
      </div>
      <!-- Estudiante -->
      <div class="caja columna col-12 col-md-6 col-lg-4">
        <i class="bi bi-laptop"></i>
        <p class="experiencia-titulo">Desarrollo Web</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          dolore odit alias quod omnis? Aperiam, minus totam
        </p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">HTML</span>
          <span class="badge text-bg-primary">CSS</span>
          <span class="badge text-bg-primary">JavaScript</span>
          <span class="badge text-bg-primary">React</span>
        </div>
      </div>
    </div>
  </div>
</section>
