section{
    background-color: #222222;
    height: 35vh;
    padding: 10px;
    padding: 0 50px;
}

 p 
{
    font-size: 1.5rem;
    font-family: 'Mulish', sans-serif;
    color:rgb(255, 255, 255);
    text-align: right;
    justify-content: center;
    margin: 0;
    word-wrap: break-word;
    letter-spacing: 0.1vh;
    line-height: 100%;
}

.text 
{
    word-wrap: break-word;
}

section h2
{
    font-size: 2rem;
    padding: 15px 0px;
    margin: 0;
}

.letras
{
    color:rgb(247, 243, 243);
    text-align: left;
    word-wrap: break-word;
}

