<section>
  <div id="cabecera">

  </div>
  <div id="central" class="box box-container">
    <div class="columna" id="uno">
            
    </div>
    <div id="dos" class="columna" >
        <h2>About us</h2>
        <p>
            Hola a todos!
          <br><br>Somos S&G, un emprendimiento de Desarrollo Web ubicada
          en Buenos Aires. Estamos comprometidos con ofrecer el mejor servicio de
          desarrollo web a nuestros clientes. Nos esforzamos por entregar proyectos
          con calidad y en tiempo, siempre respetando los presupuestos. Ofrecemos
          soluciones de desarrollo web a medida para satisfacer los requerimientos
          de cada negocio.<br><br> Además, ofrecemos servicios de mantenimiento,
          actualización y optimización para mantener los sitios web siempre en
          óptimas condiciones. Estamos comprometidos con la seguridad de todos
          nuestros clientes y sus proyectos.
        </p>
    </div>
    <div class="columna" id="tres">

    </div>
  </div>
  <div id="pie">

  </div>
</section>
