<section>
  <div class="texto">
    <h2 class="letras">About us</h2>
    <p class="letras">
        
    </p>
    <p class="letras">
        Hola a todos!
      <br><br>Soy el dueño de S&G, una empresa de Desarrollo Web ubicada
      en Comuna 1, CABA. Estamos comprometidos con ofrecer el mejor servicio de
      desarrollo web a nuestros clientes. Nos esforzamos por entregar proyectos
      con calidad y en tiempo, siempre respetando los presupuestos. Nuestro
      equipo está formado por profesionales experimentados que ponen todo su
      conocimiento para alcanzar los objetivos de nuestros clientes. Ofrecemos
      soluciones de desarrollo web a medida para satisfacer los requerimientos
      de cada negocio.<br><br> Además, ofrecemos servicios de mantenimiento,
      actualización y optimización para mantener los sitios web siempre en
      óptimas condiciones. Estamos comprometidos con la seguridad de todos
      nuestros clientes y sus proyectos.
    </p>
  </div>
</section>
